<article class="container" [formGroup]="form">
  @if(!isCompleted) {
    <h1 class="header-text">Шановний респонденте!</h1>
    <h2 class="header-text">Кафедра управління і економіки фармації та фармацевтичної технології ЗДМФУ проводить дослідження доступності ліків для лікування грибкових захворювань.</h2>
    <h2 class="header-text">Просимо Вас уважно ознайомитися з питаннями і вибрати найбільш прийнятну, на Вашу думку, відповідь.</h2>
    <p class="sub-title">
      Ваша відповідь допоможе нам у вивченні даної проблеми та у майбутньому стане підґрунтям для покращення фармацевтичної допомоги.
    </p>
    <p class="sub-title">З турботою про ВАС!
      <br>
      КОНФІДЕНЦІЙНІСТЬ ВАШИХ ВІДПОВІДЕЙ ГАРАНТУЄТЬСЯ!
      <br>
      Їх буде використано лише з НАУКОВОЮ метою!
    </p>
    <section class="illustrations-container">
      <div class="illustration-row">
        <div class="illustration-row__img">
          <img src="/assets/images/gel.jpg" alt="Зображення крему">
        </div>
        <div class="illustration-row__description">
          <p><strong>Крем</strong></p>
          <p>Легка текстура, добре всмоктується, зазвичай не залишає жирних слідів на одягу. </p>
        </div>
      </div>
      <div class="illustration-row">
        <div class="illustration-row__img">
          <img src="/assets/images/salve.jpg" alt="Зображення Мазі">
        </div>
        <div class="illustration-row__description">
          <p><strong>Мазь</strong></p>
          <p>Жирна текстура, створює «парниковий ефект», може залишати сліди на одягу.</p>
        </div>
      </div>
      <div class="illustration-row">
        <div class="illustration-row__img">
          <img src="/assets/images/gel.jpg" alt="Зображення геля">
        </div>
        <div class="illustration-row__description">
          <p><strong>Гель</strong></p>
          <p>Легка текстура, підсушує, охолоджує. </p>
        </div>
      </div>
      <div class="illustration-row">
        <div class="illustration-row__img">
          <img src="/assets/images/solution.jpg" alt="Зображення Розчину">
        </div>
        <div class="illustration-row__description">
          <p><strong>Розчин з крапельницею</strong></p>
          <p>Легкий, швидко висихає, не залишає жирних
            слідів на одягу. Нанесення може потребувати сторонньої допомоги.
          </p>
        </div>
      </div>
      <div class="illustration-row">
        <div class="illustration-row__img">
          <img src="/assets/images/spray.jpg" alt="Зображення Спрею">
        </div>
        <div class="illustration-row__description">
          <p><strong>Спрей</strong></p>
          <p>Легкий, швидко висихає, не залишає жирних
            слідів на одягу. Нанесення може потребувати сторонньої допомоги. Легкозаймисті
          </p>
        </div>
      </div>
    </section>

    <div class="progress-bar">
      <app-progress-bar [countOfSteps]="9" [numberOfStep]="step"></app-progress-bar>
    </div>

    @if(step === 1) {
      <form formGroupName="intro">
        <article class="questions">
          <label class="question">Ваш стать</label>
          <div class="controls">
            <app-radio-btn group="genderGroup" value="Чоловік" formControlName="gender">
              Чоловік
            </app-radio-btn>
            <app-radio-btn group="genderGroup" value="Жінка" formControlName="gender">
              Жінка
            </app-radio-btn>
          </div>
        </article>
        <article class="questions">
          <label class="question">Ваш вік:</label>
          <div class="controls">
            <app-radio-btn group="ageGroup" value="До 20 років" formControlName="age">
              До 20 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 21 до 25 років" formControlName="age">
              Від 21 до 25 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 26 до 30 років" formControlName="age">
              Від 16 до 30 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 31 до 35 років" formControlName="age">
              Від 31 до 35 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 36 до 40 років" formControlName="age">
              Від 36 до 40 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 41 до 45 років" formControlName="age">
              Від 41 до 45 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 45 до 50 років" formControlName="age">
              Від 45 до 50 років
            </app-radio-btn>
            <app-radio-btn group="ageGroup" value="Від 50 років" formControlName="age">
              Від 50 років
            </app-radio-btn>
          </div>
        </article>
        <article class="questions">
          <label class="question">Ваш соціальний статус</label>
          <div class="controls">
            <app-radio-btn group="socialGroup" value="Студент" formControlName="socialStatus">
              Студент
            </app-radio-btn>
            <app-radio-btn group="socialGroup" value="Працюючий" formControlName="socialStatus">
              Працюючий
            </app-radio-btn>
            <app-radio-btn group="socialGroup" value="Домогосподарка/бізробітній" formControlName="socialStatus">
              Домогосподарка/бізробітній
            </app-radio-btn>
            <app-radio-btn group="socialGroup" value="Проходжу службу в лавах ЗСУ" formControlName="socialStatus">
              Проходжу службу в лавах ЗСУ
            </app-radio-btn>
            <app-radio-btn group="socialGroup" value="Пенсіонер" formControlName="socialStatus">
              Пенсіонер
            </app-radio-btn>
          </div>
        </article>
        <article class="questions">
          <label class="question">Ваш місячних дохід</label>
          <div class="controls">
            <app-radio-btn group="monthSalaryGroup" value="До 5 тис. грн" formControlName="monthSalary">
              До 5 тис. грн
            </app-radio-btn>
            <app-radio-btn group="monthSalaryGroup" value="5-10 тис. грн" formControlName="monthSalary">
              5-10 тис. грн
            </app-radio-btn>
            <app-radio-btn group="monthSalaryGroup" value="15-20 тис. грн" formControlName="monthSalary">
              15-20 тис. грн
            </app-radio-btn>
            <app-radio-btn group="monthSalaryGroup" value="більше 20 тис. грн" formControlName="monthSalary">
              більше 20 тис. грн
            </app-radio-btn>
            <app-radio-btn group="monthSalaryGroup" value="Пенсіонер" formControlName="monthSalary">
              Пенсіонер
            </app-radio-btn>
          </div>
        </article>
      </form>
    } @else if (step === 2) {
      <form formGroupName="step1">
        <app-table-questions>
          <ng-container title>Уявіть, що ви придбаваєте <b>КРЕМ</b> ДЛЯ НІГ <b>ЛИШЕ З ПРОТИГРИБКОВОЮ ДІЄЮ</b> </ng-container>
        </app-table-questions>
      </form>
    }
    @else if (step === 3) {
      <form formGroupName="step2">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували ПРОТИГРИБКОВИЙ <b>КРЕМ</b> ДЛЯ НІГ <b>З ДОДАТКОВОЮ
            ПРОТИЗАПАЛЬНОЮ ДІЄЮ</b> </ng-container>
        </app-table-questions>
      </form>
    }  @else if (step === 4) {
      <form formGroupName="step3">
        <app-table-questions>
          <ng-container title>Уявіть, що ви придбаваєте <b>МАЗЬ</b> ДЛЯ НІГ <b>ЛИШЕ З ПРОТИГРИБКОВОЮ ДІЄЮ</b> </ng-container>
        </app-table-questions>
      </form>
    } @else if (step === 5) {
      <form formGroupName="step4">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували ПРОТИГРИБКОВУ <b>МАЗЬ</b> ДЛЯ НІГ <b>З ДОДАТКОВОЮ
            ПРОТИЗАПАЛЬНОЮ, АНТИБАКТЕРІАЛЬНОЮ ТА РАНОЗАГОЮВАЛЬНОЮ ДІЄЮ</b></ng-container>
        </app-table-questions>
      </form>
    } @else if (step === 6) {
      <form formGroupName="step5">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували <b>ГЕЛЬ</b> ДЛЯ НІГ <b>ЛИШЕ З ПРОТИГРИБКОВОЮ ДІЄЮ</b></ng-container>
        </app-table-questions>
      </form>
    }
    @else if (step === 7) {
      <form formGroupName="step6">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували ПРОТИГРИБКОВИЙ <b>ГЕЛЬ</b> ДЛЯ НІГ <b>З ДОДАТКОВОЮ
            АНТИБАКТЕРІАЛЬНОЮ ДІЄЮ</b> </ng-container>
        </app-table-questions>
      </form>
    }
    @else if (step === 8) {
      <form formGroupName="step7">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували <b>РОЗЧИН З КРАПЕЛЬНИЦЕЮ</b> ДЛЯ НІГ <b>ЛИШЕ З ПРОТИГРИБКОВОЮ
            ДІЄЮ</b></ng-container>
        </app-table-questions>
      </form>
    }
    @else if (step === 9) {
      <form formGroupName="step8">
        <app-table-questions>
          <ng-container title>Уявіть, що вам запропонували <b>СПРЕЙ</b> ДЛЯ НІГ <b>ЛИШЕ З ПРОТИГРИБКОВОЮ ДІЄЮ</b></ng-container>
        </app-table-questions>
      </form>
    }

    <div class="actions">
      @if (step < 9) {
        <button (click)="nextQuestions()" [disabled]="isDisabledNextBtn()" class="btn-grad">
          Наступні питання ->
        </button>
      } @else {
        <button [disabled]="isDisabledNextBtn() || requestLoading" (click)="save()" class="btn-grad">
          @if(requestLoading) {
            <app-spinner />
          } @else {
            Завершити опитування
          }
        </button>
      }
    </div>
  } @else {
    <img class="thanks-illustration" src="assets/thank-you.svg" alt="">
  }
</article>
